:root{
    --color-dark: #000;
    --color-light: #FFF;
    --color-head-button: rgb(76, 187, 23);
    --color-light-grey: rgb(68, 68, 68);
    --color-bg-but-color: #d9d9d9;    
    --color-dark-gredient: #1e1e1e;
    --color-light-gredient: rgb(66, 66, 66);
    --color-forecast: #373636;

    --font-family: 'Poppins';
    --font-size-base: 20px;
    --font-weight-base: 600;

    --border-radius-base: 30px;
    --border-radius-dop: 40px;
    --border: none;

    --box-shadow: 10px 10px 5px #212121;

    --conteiner-max-width: 1400px;
    --conteiner-paddingY: 40px;

    --button-height: 62px;
    --input-height: 62px;

    --transition-duration: 0.2s;    
}